<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <% if (script) { %>
    <% for(let i=0;i<script.length;i++) { %>
      <script src="/<%=script[i]%>"></script>
      <% } %>
        <% } %>
</head>