<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { title: 'Error' , script: false }) %>

  <body>
    <% if (!locals.sessionUser) { %>
      <%- include('partials/navbar.ejs') %>
        <% } else { %>
          <%- include('partials/navbar.ejs', {sessionUser}) %>
            <% } %>

              <h1>We have encountered an error</h1>
              <p>Message:</p>
              <p class="message">
                <%= message %>
              </p>
              <p>Maybe you would like to visit the
                <a href="/">main page</a>
              </p>

  </body>

</html>