<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { title: 'Listings' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>

            <form action="/search">
                <div>
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" required>
                    <label for="district">City District</label>
                    <input type="text" name="district" id="district">
                </div>
                <div>
                    <label for="min-price">Minimum price</label>
                    <input type="number" name="min-price" id="min-price" step="0.01" min="0.01">
                    <label for="max-price">Maximum price</label>
                    <input type="number" name="max-price" id="max-price" step="0.01" min="0.01">
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </form>
    </body>

</html>