<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { title: 'Login' , script: false }) %>

    <body>
        <% if (!locals.sessionUser) { %>
            <%- include('partials/navbar.ejs') %>
                <% } else { %>
                    <%- include('partials/navbar.ejs', {sessionUser}) %>
                        <% } %>

                            <form action="/login" method="post">
                                <div>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" required>
                                </div>
                                <div>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" required>
                                </div>
                                <div>
                                    <button type="submit">Login</button>
                                </div>
                            </form>
                            <p>
                                Don't have an account?
                                <a href="/register">Register</a>
                            </p>
                            <% if (message) { %>
                                <p class="error">
                                    <%= message %>
                                </p>
                                <% } %>

    </body>

</html>