body {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: burlywood;
  font-size: 20px;
}

form {
  display: grid;
  align-items: center;
  text-align: center;
}

div {
  padding: 2px 0px 2px 0px;
}

label {
  margin-left: 2px;
  margin-right: 10px;
  font-size: 20px;
}

.error {
  color: red;
}

table {
  float: right;
  text-align: center;
}

th {
  background-color: antiquewhite;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: beige;
}

tr:nth-child(odd) {
  background-color: antiquewhite;
}

.navbar a {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
}

.navbar a:active {
  background-color: black;
  color: white;
}

td > a {
  border: 1px solid black;
  padding: 1px 3px 1px 3px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
}

td > a:active {
  background-color: black;
  color: white;
}

td.listing-link {
  background-color: burlywood;
}

td.listing-error {
  visibility: hidden;
}

div#message-text {
  position: fixed;
  bottom: 4vh;
  width: 100%;
}

div#message-text > textarea {
  width: 70vw;
  height: 5vh;
  word-wrap: break-word;
  resize: none;
  font-size: 15px;
}

p#error-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 1%;
}

div#messages {
  overflow-y: auto;
  max-height: 80vh;
  max-width: 75vw;
}

div#messages > p {
  margin: 5px;
  padding: 0px 15px 0px 15px;
  word-wrap: break-word;
  border-radius: 10px;
}

div#messages > p.destination {
  background-color: antiquewhite;
  text-align: left;
  margin-right: 30%;
  margin-left: 5%;
}

div#messages > p.source {
  background-color: beige;
  text-align: right;
  margin-left: 30%;
  margin-right: 5%;
}
